@page
@{
    ViewData["Title"] = "Introduction";

}

<h1>@ViewData["Title"]</h1>

@section Description{
    <header>Description</header>
<p> That's a web application page in this page you show my name input and output button'</p>
}

<h3>Dhaval Bhimani</h3>
<form>
    <input type="number" /><br />
    <input type="number" /><br />
    <output></output><br />
    <button type="submit">Calculate</button>
</form>

